*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #2f2e2e;
}
@font-face {
    font-family: 'Helvetica-light-normal'; /* Имя шрифта */
    src: url(/fonds/helvetica_light-normal.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: 'Helveticaultralight';
    src: url(/fonds/helveticaneuecyr-ultralight3.ttf);
   }
@font-face{
    font-family: 'Helvetica_w01_light';
    src: url(/fonds/helvetica_w01_light.ttf);
}
@font-face {
    font-family: 'Libre-Baskerville';
    src: url(/fonds/libre-baskerville.ttf);
   }
@font-face {
    font-family: 'Sacramento';
    src: url(/fonds/sacramento.ttf);
   }
@font-face {
    font-family: 'Belinda';
    src: url(/fonds/Belinda-W00-Regular.ttf);
   }

.bg{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover; /* фон занимает всю площадь блока */
    background-position: center;
    background-attachment: fixed; /* позволяет фону оставаться на месте во время прокрутки блока */
    height: 100vh;
}
.container{
    max-width: 60%;
    margin: 0 auto;
}
header{
    text-align: center;
}
.header--margin{
    margin: 0 auto;
}
header img{
    margin-top: 74px;
}
.header__menu{
    padding-top: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    font-family: 'Helvetica_Light-Normal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    margin: 0 50px;
}
a{
    text-decoration: none;
    color: #2f2e2e;
}
 
.content__text p:hover, .content__text h2:hover{
    color: rgb(170, 170, 170);
}
h1{
    margin: 0 auto;
    width: 36%;
    padding-top: 175px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Libre-Baskerville';
    font-weight: 100;
    font-size: 70px;
    color: #000;
}

.section{
    background-color: #fff;
    display: grid;
    grid-template: 276px 40px 179px 40px 276px / 48% 4% 48% ;
    margin: 0 auto;
    padding: 70px 0;
}
/* .section__read-the-blog{
    grid-row: 1/4;
    grid-column: 1;
} */
.section__hello{
    grid-row: 5;
    grid-column: 1;
}
.section__advertise-with{
    grid-row: 1;
    grid-column: 3;
}
/* .section__contribute-to-the-blog{
    grid-row: 3/6;
    grid-column: 3;
} */
.section__read-the-blog{
    background-image: url(../img/read-the-blog.png);
    background-size: cover;
    background-position: center;
    grid-row: 1/4;
    grid-column: 1;
}
.section__contribute-to-the-blog{
    background-image: url(../img/contribute-to-the-blog.png);
    background-size: cover;
    background-position: center;
    grid-row: 3/6;
    grid-column: 3;
}
.section__contribute-to-the-blog, .section__read-the-blog{
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.section__hello, .section__advertise-with{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #000;
    background-color: #fff;
}
.section__title-black{
    font-family: 'Belinda';
    font-size: 42px;
    color: #fff;
}
.section__title{
    font-family: 'Belinda';
    font-size: 42px;
    color: #2f2e2e;
}
.section__uppercase{
    text-transform: uppercase;
    font-family: 'Libre-Baskerville';
    font-size: 31px;
    color: #fff;
    padding: 25px 0 35px 0;
}
.section__name{
    font-family: 'Libre-Baskerville';
    font-size: 31px;
    letter-spacing: 0.06em;
    padding-bottom: 25px;
}
.section__btn-grey{
    background: #2f2e2e7d;
    border: 1px solid #FFFFFF;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 15px;
    width: 140px;
    height: 40px;
}
.section__btn-grey:hover{
    background-color: #4168f2;
    border: none;
    transition: 0.9s;
}

.content{
    padding: 50px 0;
    background-color: #f7fcff;
}
.content__first{
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    height: 365px;
    border: 1px solid rgba(204, 204, 204, 0.75);
}
.first-card{
    max-height: 100%;
    min-width: 50%;
    object-fit: cover;
}
.content__discription{
    background-color: #fff;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.admin{
    display: flex;
}
.admin span{
    font-family: 'Helvetica_w01_light';
    font-size: 12px;
}
.admin-description-date{
    padding-left: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    font-family: 'Libre-Baskerville';
    font-size: 28px;
    font-weight: 100;
    padding-top: 2%;
}
.content__text{
    padding-bottom: 15%;
}
.content__text p{
    font-family: 'Helvetica';
    font-size: 16px;
    color: #2f2e2e;
    display: flex;
    flex-wrap: wrap;
    line-height: 155%;
    padding-top: 4.1%;
}
.content__line{
    height: 1px;
    background-color: rgba(204, 204, 204, 0.75);
    margin-top: 5%;
}
.content__likes{
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content__likes span{
    font-family: 'Helvetica';
    font-size: 12px;
    letter-spacing: 0.04em;
}
.likes__com-views :first-child{
    padding-right: 20px;
}
.like{
    display: flex;
    align-items: center;
}
.like span{
    padding-right: 5px;
}
.like span:hover{
    text-decoration: underline;
}
.content__text{
    display: flex;
    flex-flow: wrap column;
}

footer{
    background-color: #000;
    width: 100vw;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h2{
    font-family: 'Libre-Baskerville';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    padding-top: 60px;
}
.footer__inputs{
    display: flex;
    padding: 25px 0 121px 0;
}
footer input{
    width: 436px;
    height: 44px;
    background-color: #2F2E2E;
    border: 1px solid #FFF;
    color: #FFF;
    margin-right: 15px;
}
footer button{
    width: 150px;
    height: 44px;
    background-color: #2F2E2E;
    border: 1px solid #FFF;
    text-align: center;
    color: #747474;
}
footer img{
    width: 29px;
    height: 29px;
}
footer a{
    margin: 0 3px;
}
.footer__text-in-grey{
    background-color: #2F2E2E;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.footer__text-in-grey p, .footer__text-in-grey a{
    color: #747474;
    font-family: 'Helvetica_w01_light';
    font-size: 13px;
}
.footer__text-in-grey a{
    text-decoration: underline;
}

.fixed-social-networks{
    position: fixed;
    top: 65px;
    right: 40px;
    display: flex;
    flex-direction: column;
}
.fixed-social-networks img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.fixed-button{
    position: fixed;
    width: 172px;
    height: 40px;
    left: 20px;
    bottom: 5px;
    background: #4168F2;
    border: none;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed-button span{
    font-family: 'Helvetica_w01_light' sans-serif;
    font-size: 15px;
    color: #FFF;
    text-align: center;
}

.chat-massage-button{
    position: fixed;
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 5px;
}

@media (max-width: 1451px) {
    .content__line{
        margin-top: 2.1%;
    }
}
@media (max-width: 1202px) {
    .content__text{
        padding-bottom: 9%;
    }
}
@media (max-width: 1057px) {
    .content__text{
        padding-bottom: 1.93%;
    }
}